torch
numpy
pandas
matplotlib
ttkbootstrap
sqlalchemy
python-dotenv
pytest
psycopg2-binary
pyserial
scipy
scikit-learn
torch
numpy
pandas
matplotlib
ttkbootstrap
sqlalchemy
python-dotenv
pytest
psycopg2-binary
bcrypt
pillow